@import url('https://fonts.googleapis.com/css2?family=Mali&display=swap');

:root{
    --box-shadow: 0px 1px rgba(0,0,0,0.12);
}

*{
    box-sizing: border-box;
    font-family: 'Mali', cursive;
}

body{
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0px;
}

.container{
    margin: 30px auto;
    width: 350px;
}

h1{
    letter-spacing: 1px;
    margin: 0;
}

h3{
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    margin: 40px 0 10px;
}

h4{
    margin: 0;
}

.income-expense-container{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    padding: 20px;
    margin: 20px 0;
}

.income-expense-container>div{
    flex: 1;
    text-align: center;
}

.income-expense-container>div:first-of-type{
    border-right: 1px solid #dedede;
}

.money{
    font-size: 20px;
    letter-spacing: 1px;
    margin: 5px 0;
}

.money.income{
    color: rgba(15, 173, 15, 0.874);
}

.money.expense{
    color: rgb(255, 0, 0, 0.874);
}

label{
    display: inline-block;
    margin: 10px 0;
}

input[type="text"], input[type="number"]{
    border: 1px solid #dedede;
    border-radius:2px;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

.btn-add{
    background-color: rgb(9, 98, 165);
    color: #fff;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    display: block;
    margin: 10px 0 30px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
}

.list{
    list-style-type: none;
    padding: 0;
    margin-bottom: 40px;
}

.list li{
    background-color: #fff;
    box-shadow: var(--box-shadow);
    color: #333;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    margin: 10px 0;
}

.list li.income{
    border-right: 7px solid rgba(15, 173, 15, 0.874);
}

.list li.expense{
    border-right: 7px solid rgba(255, 0, 0, 0.874);
}

.btn-del{
    cursor: pointer;
    background-color: rgba(255, 0, 0);
    color: #fff;
    border: 0;
    font-size: 20px;
    line-height: 20px;
    padding: 0px 5px 5px 5px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.list li:hover .btn-del{
    opacity: 1;
}

.btn-add:focus, .btn-del:focus{
    outline: 0;
}

